<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>SistemaPedidos</title>
	</head>
	<body class="animted bounceInDown">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand"href="/">Inicio</a>
			<a class="navbar-brand"href="/signup">Registrate</a>
			<a class="navbar-brand"href="/signin">Inicia Secion</a>
		</nav>
		<br><center><h1>Sistema De Pedidos</h1></center>
		<div class="card">
			<div class="card-body">
				<p>Bienbenido al sistema de pedidos del colegio en donde podras apartar el equipo que nesesitas
				por un plaso de dos horas inicia secion o registrate y aparta el equipo que nesesites </p>
			</div>
		</div>
	</body>
</html>
