<!DOCTYPE html>
<html lang="es">
        <head>
                <meta charset="utf-8">
                <meta name="author"content="walter">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <title>SistemaPedidos</title>
        </head >
        <body class="animted bounceInDown">
                <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand"href="/">Inicio</a>
                        <a class="navbar-brand"href="/signup">Registrate</a>
                        <a class="navbar-brand"href="/signin">Inicia Secion</a>
                </nav>
		<br>
		<div class="card border-primary mx-auto" style="width: 18rem;">
			<div class="card-body bg-transparent border-success text-primary  mx-auto">
				<form action="/signup"method="POST">
					<label>Usuario</label>
					<input type="text"name="user"class="form-control"placeholder="Ingrese Un Usuario">
					<label>Correo</label>
					<input type="email"name="email"class="form-control"placeholder="Ingrese Su Correo">
					<label>Nombre</label>
					<input type="text"name="name"class="form-control"placeholder="Ingrese Su Nombre">
					<label>Codigo</label>
					<input type="password"name="code"class="form-control"placeholder="Ingrse El Codigo">
					<label>Contraseña</label>
					<input type="password"name="password"class="form-control"placeholder="Ingrese Una Contraseña">
					<button class="btn btn-primary btn-block"type="submit">Registrarme</button>
					<a href="/signin"class="card-link">Ya Tengo Mi Cuenta</a>
				</form>
			</div>
		</div>
	</body>
</html>
